.DashboardMenuBar {
	-fx-background-color: transparent;
	-fx-padding: 20 15 20 15;
	-fx-font-size: 16;
	-fx-font-family: "Reem Kufi Bold";
	-fx-text-fill: black;
	-fx-text-align: center;
}

.DashboardMenuBar:selected {
	-fx-text-fill: "#e84b5a";
}

.DashboardMenuBar:hover {
	-fx-text-fill: "#e84b5a";
}